header
	.header#header
		.header_content
			.container
				.header_top.clearfix
					a(href="./").header_logo
						p ХНЕУ ім. С. Кузнеця
					ul.header_language
						li
							a()
								img(src=require("./index/images/ua.png"), alt="")
							ul.other-lang
								li
									a(href="#")
										img(src=require("./index/images/ru.png"), alt="")
								li
									a(href="#")
										img(src=require("./index/images/uk.png"), alt="")
								li
									a(href="#")
										img(src=require("./index/images/de.png"), alt="")
								li
									a(href="#")
										img(src=require("./index/images/fr.png"), alt="")
					ul.header_menu
						li.header_menu_list.header_menu_list--fac
							a(href="#").header_menu_link.header_menu_link--arrow про хнеу ім. с. кузнеця
							.header_menu-hid.header_menu-hid--fac
								ul
									li
										a(href="#") Адміністрація
									li
										a(href="#") Привітальне слово ректора
									li
										a(href="#") Презентація ХНЕУ
								ul
									li
										a(href="#") Стратегічний план розвитку (інфографіка) 2020
									li
										a(href="#") Співпрацювання з органами влади
									li
										a(href="#") Публічна інформація(документи, положення)
						li.header_menu_list.header_menu_list--fac
							a(href="#").header_menu_link.header_menu_link--arrow міжнародна діяльність
							.header_menu-hid.header_menu-hid--int
								ul
									li
										a(href="#") Відділ міжнародних зв'язків
									li
										a(href="#") Міжнародні конкурси та гранти	
								ul
									li
										a(href="#") Участь в міжнароднх організаціях
									li
										a(href="#") Іноземні партнери
								ul
									li
										a(href="#") MBA програми
									li
										a(href="#") Академічна мобільність та гранти
						li.header_menu_list.header_menu_list--fac
							a(href="#").header_menu_link.header_menu_link--arrow наукова діяльність
							.header_menu-hid.header_menu-hid--science
								ul
									li
										a(href="#") Відділ аспіранутри та докторантури
									li
										a(href="#") Вчені ради
									li
										a(href="#") Направлення досліджень
								ul
									li
										a(href="#") План проведення конференцій
									li
										a(href="news.html") Наукові школи
									li
										a(href="news.html") Нукові проекти
								ul
									li
										a(href="#") Наукові видання
									li
										a(href="#") Олімпіади та конкурси
								ul
									li
										a(href="#") Конкурси та гранти
									li
										a(href="#") Рада молодих вчених
						li.header_menu_list.header_menu_list--fac
							a(href="#").header_menu_link.header_menu_link--arrow факультети
							.header_menu-hid.header_menu-hid--fac
								ul
									li.clearfix
										a(href="#", data-toggle="dropdown").dropdown-toggle Ф-т економiки та права
											span.fa.fa-chevron-down
										.dropdown-menu
											ul
												li
													a(href="#") Ф-т економiки та права
												li
													a(href="#") Ф-т менеджмента та маркетингу
											ul
												li
													a(href="#") Ф-т економiки та права
												li
													a(href="#") Ф-т менеджмента та маркетингу
											ul
												li
													a(href="#") Ф-т економiки та права
												li
													a(href="#") Ф-т менеджмента та маркетингу
									li
										a(href="#") Ф-т економiчноi нформатики
									li
										a(href="#") Ф-т консалтингу та мiжнародного бiзнесу
								ul
									li
										a(href="#") Ф-т менеджмента та маркетингу
									li
										a(href="#") Ф-т мiжнародних економiчних вiдносин
									li
										a(href="#") Ф-т пiдготовки iноземних громодян
								ul
									li
										a(href="#") Фiнансовий факультет	
						li.header_menu_list.header_menu_list--fac
							a(href="#").header_menu_link.header_menu_link--arrow підрозділи
							.header_menu-hid.header_menu-hid--divisions
								ul
									li
										a(href="divisions.html") Відділ забезпечення якості освіти та інноваційного розвитку
									li
										a(href="#") Відділ міжнародних зв'язків
									li
										a(href="#") Відділ працевлаштування студентів та взаємодії з бізнес-структурами ХНЕУ ім. С.Кузнеця
								ul
									li
										a(href="#") Відділ маркетингу та корпоративних комунікацій
									li
										a(href="org.html") Молодіжна організація
									li
										a(href="#") Студентський профком
						li.header_menu_list
							a(href="#") бібліотека
						li.header_menu_list
							a(href="#") абітурієнтам
						li.header_menu_list.header_menu_list--fac
							a(href="#").header_menu_link.header_menu_link--arrow студентам
							.header_menu-hid.header_menu-hid--students
								ul
									li
										a(href="#") Розклад занять
									li
										a(href="schedule.html") Розклад дзвінків
								ul
									li
										a(href="#") Електронні мультімедійні інтерактивні видання
									li
										a(href="#") Сайт персональних навчаючих систем
									li
										a(href="#") Графік учбового процесу
								ul
									li
										a(href="#") Отримання сертифікатів
									li
										a(href="#") Бакалаврат і магістратура
						li.header_menu_list.header_menu_list--fac
							a(href="#").header_menu_link.header_menu_link--arrow работодавцям
							.header_menu-hid.header_menu-hid--employers
								ul
									li
										a(href="#") Заявка по подбору спеціалістів для проходження практики або прцевлаштування
									li
										a(href="#") Відділ працевлаштування студентів та взаємодії з бізнес-структурами ХНЕУ ім. С.Кузнеця
									li
										a(href="#") Отримання сертифікатів
									li
										a(href="#") Графік проведення заходів, в т.ч. "Ярмарка вакансій"
						li.header_menu_list.header_menu_list--fac
							a(href="#").header_menu_link.header_menu_link--arrow медіа
							.header_menu-hid.header_menu-hid--media
								ul
									li
										a(href="anons.html") Анонси
									li
										a(href="news.html") Медіа
								ul
									li
										a(href="#") Фото-газети
									li
										a(href="#") Відео-ролики
								ul
									li
										a(href="#") Пресс-релізи
									li
										a(href="#") Участь в виставках і нагородах
								ul
									li
										a(href="#") Бренд-бук
									li
										a(href="#") 3D тур
					.header_hamburger#menuToggle
						span.header_hamburger_top
						span.header_hamburger_mid
						span.header_hamburger_bottom
				.header_bottom.clearfix